## .gitignore

# system files
*.DS_Store
*.swp
*.idea
*.pyc

# secrets
keys/
.env
.env_prod
certs/
conf/production.conf
docker-compose.yml
docker-compose_prod.yml
nginx/.htpasswd

# app files
conf/evolutions/
logs/
project/project/
project/target/
target/
__pycache__/
.idea/

# large/data files
*.asc
*.dss
*.tif
*.zip
dynamicFiles/
static_root/
layerData/
data_files/
node_modules/
Watersheds/

settings_local.py
local_settings.py
settings_local_code_dev_server.py
settings_local_code_local_server.py
settings_local_bayles.py

settings_local_durtschi.py

# startup helper
graze
# database info and keys
*.ini
cals-grazescape-files-63e6-4f2fc53201e6.json
Watersheds/
Boundaries/
media/media/
