html, body, #root, .App {
  height: 100%;
   overflow-x: hidden;
}

.header {
  text-align: center;

}
.sidePanelCol{
    padding:0;
}
.side_pannel_style{
background-image: linear-gradient(#EFF4CF, white);
      padding-bottom: 40px;
       overflow: auto;
   height: 90vh;
}
 .active1, .trans1:hover {
  background-color: green;
  color: white;
}
.form-label {
    margin-bottom:0px;
}
.ol-dragbox {
        background-color: rgba(255,255,255,0.5);
        border-color: rgba(255,0,0,1);
        border: 2px solid #f00
      }
/*.ol-attribution{
    padding-top: 650px;
}
*/
div.image {
   content:url("images/color-flush-Grassland2.0-logo-web.svg");
    width:50%;

}

.header1{
background-image: linear-gradient(#EFF4CF, white);
      padding-bottom: 40px
}
#footer{
    background:#373737;
    color: #8E8E8E;
     position: relative;
     bottom:0;


}


.text-left {
  text-align: left;
}



.image:hover{
  opacity: 0.3;
}

.image{
    padding:20px;
}

.progress_bar{
    padding:20px;
}

.modal-90w{
    width: 60vw;
    max-width: 60vw;
}