html, body, #root, .App {
  height: 100%;
   overflow-x: hidden;
}
#root{
height:100%;
}
#main{
height:80%
}
.header {
  text-align: center;

}

div.image {
   content:url("images/color-flush-Grassland2.0-logo-web.svg");
    width:50%;

}

.header1{
background-image: linear-gradient(#EFF4CF, white);
      padding-bottom: 40px
}
#main{
    height: 100%;
    overflow-y: hidden;
}
.main_container {

    height: 65%;
    overflow-y: auto;
}
#footer{
    background:#373737;
    color: #8E8E8E;
     width: 100%;
     height:35%;
         overflow-y: auto;
         overflow-x: auto;


}
.text-left {
  text-align: left;
}

.appSelect {
    border:4px solid black;
    padding: 10px;
    margin:20px
}

.appInfo{
    padding: 10px;
    margin:20px
}

.image:hover{
  #opacity: 0.3;
  background-color: green;
}

.image{
    padding:20px;
}

.center{
margin-left: auto;
  margin-right: auto;
}
