html,
body,
#root,
.App {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

#main {
  height: 80%;
}

.header {
  text-align: center;
}

div.image {
  content: url("images/color-flush-Grassland2.0-logo-web.svg");
  width: 50%;
}

.header1 {
  background-image: linear-gradient(#eff4cf, white);
  padding-bottom: 40px;
}

#main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main_container {
  flex-grow: 1;
  flex-shrink: 0;
}

#footer {
  background: #343434;
  color: #b7b7b7;
  width: 100%;
  position: relative;
  bottom: 0px;
  padding: 16px;
}

#footer a {
  color: #5C9DFF;
}

.text-left {
  text-align: left;
}

.appSelect {
  border: 4px solid black;
  padding: 10px;
  margin: 20px;
}

.appInfo {
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}

.image:hover {
  background-color: #C6FF99;
}

.image-padded {
  padding: 40px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.grassland-logo {
  height: 24px;
}

@media (min-width: 768px) {
  .grassland-logo {
    height: 30px;
  }
}